#mainpage {
  margin-top: 40px;
}

.container-main {
  background: #fff;
  max-width: 700px;
  margin: auto;
  padding: 70px 48px 20px 48px;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.picture {
  box-sizing: border-box;
  width: 50%;
  padding: 0 2px;
  position: relative;
}

.opening {
  width: 100%;
  height: 120px;
  background-color: $color-main;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10px;
}

.opening-title {
  padding-top: 3%;
  margin-bottom: 5px;
}

.inner-text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 80%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s;
}

.picture:hover {
  .inner-text {
    top: 40%;
  }

  .undertext {
    display: inline-block;
    text-transform: none;
  }
}

.undertext {
  display: none;
}

.picture img {
  width: 100%;
}

.carousel-image img {
  height: 193px;
  width: 193px;
}

img {
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
}

//KARUZELA

.carousel {
  display: flex;
}

.carousel-slider {
  margin-left: 38px;
  margin-top: 20px;
}

.slider {
  display: none;
}

.carousel-slider .active {
  display: block;
}

.quote-author {
  padding-top: 10px;
}

.quote-circle {
  display: flex;
  margin-top: 57px;
  margin-left: 23px;
}

.quote-circle div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bdbdbd;
  margin-left: 15px;
  cursor: pointer;

  &.active-circle {
    background-color: #575757;
  }
}

//GALLERY

.gallery {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.gallery-picture:hover {
  display: inline-block;
  position: relative;
  filter: brightness(70%);

  &:hover {
    transition: 0.4s ease;

    .picture-icon {
      opacity: 1;
    }
  }
}

.gallery-picture img {
  height: 193px;
  width: 193px;
  margin-top: -5px;
  margin-bottom: 9px;
}

.picture-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 24px;
  opacity: 0;
}

.picture-icon .fas:hover {
  color: $color-main;
}

.instagram a {
  color: $color-main;
}

//MEDIA
@media (max-width: 688px) {
  .picture {
    width: 100%;
  }
}

// NIE POKAZUJ KOSZYKA

.cart {
  display: none;
}

.main-nav {
  display: none;
}
